### Import Libraries

In [1]:
import requests as req
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://www.bb.org.bd/en/index.php/econdata/exchangerate"

In [3]:
res = req.get(url)

In [4]:
res.status_code

200

### Parse Response Content

In [5]:
soup = BeautifulSoup(res.content, "html.parser")

In [6]:
tables = soup.find_all('table')

In [7]:
rows = tables[1].find('tbody').find_all('tr')
rows

[<tr><td>EUR</td><td>139.4363</td><td>139.6768</td></tr>,
 <tr><td>GBP</td><td>166.0867</td><td>166.3808</td></tr>,
 <tr><td>AUD</td><td>79.6814</td><td>79.8171</td></tr>,
 <tr><td>JPY</td><td>0.8605</td><td>0.8621</td></tr>,
 <tr><td>CAD</td><td>89.2883</td><td>89.4591</td></tr>,
 <tr><td>SEK</td><td>12.8495</td><td>12.9174</td></tr>,
 <tr><td>SGD</td><td>95.4938</td><td>95.7311</td></tr>,
 <tr><td>CNH</td><td>17.1041</td><td>17.1378</td></tr>,
 <tr><td>INR</td><td>1.4397</td><td>1.4428</td></tr>]

In [8]:
data = []
for row in rows:
    cols = row.find_all('td')
    data.append({"Currency":cols[0].string,"Buying":cols[1].string,"Selling":cols[2].string})

data

[{'Currency': 'EUR', 'Buying': '139.4363', 'Selling': '139.6768'},
 {'Currency': 'GBP', 'Buying': '166.0867', 'Selling': '166.3808'},
 {'Currency': 'AUD', 'Buying': '79.6814', 'Selling': '79.8171'},
 {'Currency': 'JPY', 'Buying': '0.8605', 'Selling': '0.8621'},
 {'Currency': 'CAD', 'Buying': '89.2883', 'Selling': '89.4591'},
 {'Currency': 'SEK', 'Buying': '12.8495', 'Selling': '12.9174'},
 {'Currency': 'SGD', 'Buying': '95.4938', 'Selling': '95.7311'},
 {'Currency': 'CNH', 'Buying': '17.1041', 'Selling': '17.1378'},
 {'Currency': 'INR', 'Buying': '1.4397', 'Selling': '1.4428'}]

### Convert Data into DataFrame

In [9]:
df = pd.DataFrame(data)
df.head()

  Currency    Buying   Selling
0      EUR  139.4363  139.6768
1      GBP  166.0867  166.3808
2      AUD   79.6814   79.8171
3      JPY    0.8605    0.8621
4      CAD   89.2883   89.4591

### Export To CSV

In [10]:
df.to_csv("BB_FX_Rate.csv")